doctype html
html(lang='en')
  include common/head.pug 
  +head(`${title}`)
  body
    include common/navBar.pug
    +navBar()
    .container
      .row
        .col-md-12
          .card.mt-3
            .card-body
              h2.card-title Minimum Viable landing page
              p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
              form(action="/", method="POST")
                label(for='exampleInputEmail1') Email address
                .form-inline
                  input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', name="lead_email",placeholder="Enter your E-mail")
                  |
                  button.btn.btn-primary(type='submit') Submit
    include common/footer.pug
    +footer()